################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Zelda3DSView/v15
/Zelda3DView
/Zelda3DView
/Zelda3DView/Debug
*.log
/Zelda3DView/Debug/Zelda3DView.log
